/* Foundation */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Base */


html {
    font-size: 15px;
}

@media (min-width:992px) {
    html {
        font-size: 20px;
    }
}

body {
    font-size: 1rem;
    line-height: 1.5;
    font-family: serif;
    background-color: #536A72;
} 

h1 {
    font-family: sans-serif;
    font-size: 3rem;
    line-height: 1.1;
}
h2 {    font-family: sans-serif;
    font-size: 2rem;
    line-height: 1.1;
}
h3 {
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.1;
}


h1, h2, h3, p {
    margin: 1rem 15px;
    line-height: 1.5rem;
}

p {
    margin-top:1.5rem;
    margin-bottom: 1.5rem;
}

h1 + p,
h2 + p,
h3 + p {
    margin-top: 0;
}


div  > *  {}
div + * {}


 img {
    display: block;
    max-width: 100%;
    height: auto;
 }


/* Modules */

/*** SITE LAYOUT ***/
.site {
    overflow: hidden;
}

.site-header {
    /*  display: flex;
    flex-direction: column;*/
   padding: 1rem; 
    background-color: #394043;

}

@media ( min-width: 992px ) {
    .site-header {
        flex-direction: row;
        /* justify-content: space-between; */
        padding: 3rem;
    }

    .site-header > * {
        flex-basis: 100%;
    

    }
    .site-header * {
        margin: 2rem;

    }
}

.brand a {
    font-family: sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
    color: white;
    text-decoration: none;

    padding: .5rem 1rem;
    border: .25rem solid #ffffff;
    border-radius: .5rem;
}


@media (min-width:992px) {
    .brand a {
        font-size: 3rem;
        
} }


@media (max-width:992px) {}

.site-navigation {
    display: flex;
   /* flex-direction: column; */
   justify-content: space-between;
}

.site-main {
    padding: 1rem;

}


.site-footer {
    padding: 1rem;
    background-color: #1D3D49;
    color: #dfdfdf;
}

@media (min-width:992px) {
.site-header,
.site-main,
.site-footer {
    padding: 3rem;
}
}

/*** POST layout ***/
.post {
    max-width: 800px;
}

@media (min-width:992px){ 

    .post {
        max-width: 800px;
        margin: auto;
    }

    .post img {
        width: 50%;
        float: right;
    }
}

.post-title {
    font-family: sans-serif;
    font-size: 2rem;
}


.post h1 {
    font-size: 2.5rem;
}
